In [15]:
import pandas as pd
import pandas_datareader.data as web 
import numpy as np

In [16]:
df=web.DataReader("GE","yahoo",start="2019-09-10",end='2019-10-09')
df.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2019-09-09  72.400002  69.839996  70.000000  71.680000  6245063.0  70.804443
2019-09-10  74.160004  71.199997  71.279999  73.120003  7827150.0  72.226852
2019-09-11  74.879997  72.480003  73.199997  74.879997  7136863.0  73.965355
2019-09-12  76.160004  73.760002  75.199997  74.080002  8514388.0  73.175133
2019-09-13  75.599998  73.120003  74.480003  74.720001  5698675.0  73.887085

In [17]:
df.shape

(23, 6)

In [18]:
df.tail()

                 High        Low       Open      Close     Volume  Adj Close
Date
2019-10-03  69.680000  66.000000  68.000000  69.680000  7328325.0  68.903275
2019-10-04  69.599998  68.320000  68.879997  68.559998  6534100.0  67.795769
2019-10-07  69.199997  67.839996  68.400002  68.480003  4021300.0  67.716660
2019-10-08  68.000000  66.160004  67.839996  66.239998  5687800.0  65.501633
2019-10-09  66.959999  65.919998  66.480003  66.800003  4105100.0  66.055382